.message_box {
  size: 2px
};

.msg {
  display: block;
}

body {
  background-color: rgb(156, 14, 14);
}


.AroundChattText{
text-align: center;
font-size: 60px;
}

#paste{
  height: 500px;
  overflow: auto;
  width: 800px;
  margin: 0 auto;
  background-color: grey;
}

.txt_btn{
  width: 800px;
  margin: 0 auto;
}

.txt_box{
  width: 744px;
  height: 25px;
}

.cls_btn{
  background-color: green;
  height: 30px;
}